body {
  background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.top {
  height: 8vh;
  background-color: #a29160;
  padding-left: 50px;
}

.top #api {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.fa-facebook-f,
.fa-instagram,
.fa-twitter {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: black;
}

a {
  color: floralwhite;
}

.navbar {
  background-color: #ffc10703;
  padding-top: 30px;
  font-family: sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: rgb(119, 38, 77);
}

.navbar .navbar-nav .nav-link:hover {
  color: #fbc531;
}

.navbar .navbar-nav .active > .nav-link {
  color: #fbc531;
}

.navbar-brand {
  color: rgb(119, 38, 77);
  font-family: "Niconne", cursive;
  font-size: 40px;
}

footer a.text-light:hover {
  color: #fed136 !important;
  text-decoration: none;
}

footer .cizgi {
  border-right: 1px solid #535e67;
}

@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}

#fname {
  padding-left: 88px;
}

.heads {
  background-color: darkgoldenrod;
  margin: 10px;
}

.clippath {
  background-image: radial-gradient(rgba(46, 45, 45, 0.4), rgba(0, 0, 0, 0.9)),
    url(https://www.teahub.io/photos/full/6-63195_food-wallpaper-foods-wallpaper-hd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 79vh;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.cliph1,
.cliph3 {
  text-align: center;
  padding-top: 60px;
  color: floralwhite;
  font-family: sans-serif;
  font-size: 70px;
  padding-left: 610px;
}

.cliph3 {
  padding-top: 20px;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}

.cliph2 {
  text-align: center;
  font-size: 40px;
  padding-top: 80px;
  padding-left: 540px;
  color: #efd945;
  font-family: "Rock Salt", cursive;
}

.cliph1 {
  font-family: "Rye", cursive;
  color: #efd945;
}

/* ------------------------------------------------------------------------------------------------ */
#mcontent {
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 10px;
  height: 105vh;
  width: 99.5%;
  background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#header-left {
  float: left;
  height: 50%;
  width: 50%;
  padding-left: 180px;
}

.dh1 {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  color: rgba(65, 34, 0, 0.6);
}

.chr1 {
  border-bottom: 1.5px solid grey;
  margin-right: 480px;
  margin-top: 15px;
}

.chr2 {
  border-bottom: 2px solid grey;
  margin-right: 500px;
  margin-top: -12px;
}

.sdi1 {
  width: 700px;
  height: 450px;
  border: 3px solid black;
  border-radius: 30px;
}

#header-right {
  float: right;
  height: 43%;
  width: 50%;
  text-align: center;
  padding-left: 100px;
}

.sdi2 {
  width: 400px;
  height: 610px;
  border: 3px solid black;
  border-radius: 30px;
}

.rp {
  border: 1px solid black;
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: black;
  color: grey;
}

.rh3 {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* --------------------------------------------------------------------------------------- */
#mcontent-1 {
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 10px;
  height: 110vh;
  width: 99.5%;
  background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#header-left-1 {
  float: left;
  height: 50%;
  width: 45%;
  padding-left: 180px;
}

.dh1-1 {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  color: rgba(65, 34, 0, 0.6);
  margin-top: 20px;
}

p {
  font-weight: 600;
}

.la {
  font-size: 30px;
  color: black;
  margin-left: 120px;
}

.la:hover {
  text-decoration: none;
  color: rgba(65, 34, 0, 0.6);
}

.lhr {
  border-bottom: 2px solid grey;
  margin-top: -2px;
  margin-left: 100px;
  margin-right: 180px;
}

.chr1-1 {
  border-bottom: 1.5px solid grey;
  margin-right: 420px;
  margin-top: 15px;
}

.chr2-1 {
  border-bottom: 2px solid grey;
  margin-right: 450px;
  margin-top: -12px;
}

.sdi1 {
  width: 700px;
  height: 450px;
  border: 3px solid black;
  border-radius: 30px;
}

#header-right-1 {
  float: right;
  height: 43%;
  width: 55%;
  /* text-align: center; */
  padding-left: 100px;
}

/* ---------------------------------------------------------------------------------------- */
#inner-header {
  margin-top: 155px;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 90vh;
  width: 99.5%;
  background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#inner-header-left {
  float: left;
  height: 70%;
  width: 20%;
}

.sdi3 {
  height: 270px;
  width: 300px;
  margin-top: -70px;
  border: 3px solid black;
}

#inner-header-right {
  float: right;
  height: 43%;
  width: 35%;
  margin-top: -100px;
  margin-right: 120px;
}

.ina {
  font-size: 28px;
  font-weight: bold;
  color: grey;
}

.tops {
  height: 8vh;
}

.tops .fa-facebook-f,
.fa-instagram,
.fa-twitter {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: black;
}

.sdi4 {
  height: 270px;
  width: 300px;
  margin-top: 40px;
  border: 3px solid black;
}

.ina-1 {
  font-size: 28px;
  font-weight: bold;
  color: grey;
}

.sec {
  margin-top: 50px;
}

/* ------------------------------------------------------------------------------------------ */
.ah1 {
  font-size: 45px;
  font-family: "Dancing Script", cursive;
  color: rgba(65, 34, 0, 0.6);
  text-align: center;
  margin-top: 100px;
}

.ahr1 {
  border-bottom: 2.5px solid grey;
  margin-right: 600px;
  margin-left: 470px;
  margin-top: 15px;
  padding-left: 160px;
}

.ahr2 {
  border-bottom: 2.5px solid grey;
  margin-right: 500px;
  margin-left: 490px;
  margin-top: -12px;
  padding-left: 100px;
}

.ah1-1 {
  text-align: center;
  font-size: 50px;
}

.ap {
  text-align: center;
  font-size: 18px;
}

/* -------------------------------------------------------------------------------------- */
.clippath-1 {
  background-image: radial-gradient(rgba(46, 45, 45, 0.6), rgba(0, 0, 0, 0.8)),
    url(https://images.pexels.com/photos/941869/pexels-photo-941869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.ah1-1-1 {
  font-size: 35px;
  font-family: "Dancing Script", monospace;
  color: rgba(65, 34, 0, 0.6);
  text-align: center;
  margin-top: 30px;
  padding-top: 120px;
  color: rgb(213, 214, 147);
}

.ah1-1-2 {
  text-align: center;
  color: floralwhite;
  font-size: 60px;
  margin-top: -20px;
  font-family: monospace;
}

.ah1-1-3 {
  font-size: 25px;
  color: floralwhite;
  font-weight: bold;
  text-align: center;
}

.ahr1-1 {
  border-bottom: 2.5px solid floralwhite;
  margin-right: 900px;
  margin-left: 470px;
  margin-top: 15px;
  padding-left: 160px;
}

.ahr2-1 {
  border-bottom: 2.5px solid floralwhite;
  margin-right: 900px;
  margin-left: 500px;
  margin-top: -12px;
  padding-left: 100px;
}

.ah1-1-1 {
  text-align: center;
  font-size: 50px;
}

.ap-1 {
  text-align: center;
  font-size: 18px;
  color: floralwhite;
}

/* -------------------------------------------------------------------------------------------- */
#inner-header-a {
  margin-top: 155px;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 90vh;
  width: 99.5%;
  background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#inner-header-left-a {
  float: left;
  height: 70%;
  width: 30%;
}

.sdi3-a {
  height: 340px;
  width: 380px;
  margin-top: -70px;
  border: 3px solid black;
}

#inner-header-right-a {
  float: right;
  height: 43%;
  width: 70%;
  margin-top: -100px;
  margin-right: 120px;
}

.ina-a {
  font-size: 28px;
  font-weight: bold;
  color: grey;
}

.tops-a {
  height: 8vh;
}

.tops-a .fa-facebook-f,
.fa-instagram,
.fa-twitter {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: black;
}

.sdi4-a {
  height: 270px;
  width: 300px;
  margin-top: 40px;
  border: 3px solid black;
}

.ina-1-a {
  font-size: 28px;
  font-weight: bold;
  color: grey;
}

.sec-a {
  margin-top: 50px;
}

/* ------------------------------------------------------------------------------------------------- */
.ah1-c {
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  color: rgba(65, 34, 0, 0.6);
  text-align: center;
  margin-top: 30px;
}

#col {
  float: left;
  width: 25%;
  color: floralwhite;
  text-align: center;
  padding-top: 80px;
  margin: -15px;
  margin-left: 5px;
}

.ah1-1-1-c {
  font-size: 35px;
  font-family: "Dancing Script", monospace;
  color: rgba(65, 34, 0, 0.6);
  text-align: center;
  margin-top: 30px;
  padding-top: 120px;
  color: rgb(213, 214, 147);
}

.ahr1-1-c {
  border-bottom: 1.5px solid floralwhite;
  margin-right: 250px;
  margin-left: 110px;
  margin-top: 10px;
  padding-left: 120px;
}

.ahr2-1-c {
  border-bottom: 2px solid floralwhite;
  margin-right: 900px;
  margin-left: 120px;
  margin-top: -12px;
  padding-left: 100px;
}

.cdiv {
  height: 80vh;
}

.logimg {
  height: 600px;
  width: 400px;
  margin-top: 40px;
}

#lcol {
  float: left;
  width: 40%;
}

.jlog {
  background-image: radial-gradient(rgba(46, 45, 45, 0.4), rgba(0, 0, 0, 0.9)),
    url(https://images.pexels.com/photos/2641886/pexels-photo-2641886.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logform {
  color: floralwhite;
  font-size: 25px;
  margin-top: 200px;
  margin-left: 100px;
}

li {
  font-size: 15px;
}

input {
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
}

label {
  margin-top: 30px;
}

#logbtn {
  margin-left: 235px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

/* ------------------------------------------------------------------------------------------------------ */
.clippath-1-s {
  background-image: radial-gradient(rgba(46, 45, 45, 0.6), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  color: floralwhite;
  font-size: 20px;
}

.signform {
  color: floralwhite;
  font-size: 15px;
  margin-top: 60px;
  margin-left: 80px;
  font-size: 18px;
}

.helptext {
  margin-left: 50px;
  font-size: 10px;
}

#signbtn {
  margin-left: 180px;
}
