<!DOCTYPE html>
<!DOCTYPE html>
{% extends 'testApp/base1.html'%}

{% block main_block %}

<div class="container">

  <h2 class="ah1-c">Get in Touch</h2>
  <hr class="ahr1">
  <hr class="ahr2"><br>

</div>

<div class="heads-1">
  <header class="clippath-1">

    <div class="cdiv">

      <div id="col">
        <div class="container">
          <h2 class="ah1-1-1-c">Address</h2>
          <hr class="ahr1-1-c">
          <hr class="ahr2-1-c"><br>
          <p>8500, Lorem Street, Chicago,IL, 55030</p>
        </div>
      </div>

      <div id="col">
        <div class="container">
          <h2 class="ah1-1-1-c">Phone</h2>
          <hr class="ahr1-1-c">
          <hr class="ahr2-1-c"><br>
          <p>Online Reservations <br> 0 800 555 44 11 <br> 0 800 555 40 11</p>
        </div>
      </div>

      <div id="col">
        <div class="container">
          <h2 class="ah1-1-1-c">Email</h2>
          <hr class="ahr1-1-c">
          <hr class="ahr2-1-c"><br>
          <p>kitche@chef's.com <br> foody@chef's.com</p>
        </div>
      </div>

      <div id="col">
        <div class="container">
          <h2 class="ah1-1-1-c">Follow Us</h2>
          <hr class="ahr1-1-c">
          <hr class="ahr2-1-c"><br>
          <p>shubham_wankar07@gmail.com <br> rohit_wankar24@gmail.com <br> rohan.wankar09@gmail.com</p>
        </div>
      </div>

    </div>

  </header>
</div>
</div>


{% endblock %}