<!DOCTYPE html>
{% extends 'testApp/base1.html'%}

{% block main_block %}

<div class="heads">
  <header class="clippath">
    <h1>
      <h2 class="cliph2"><span>Since</span> 1989</h2>
    </h1>
    <h1 class="cliph1"><span>EAT</span> &nbsp&nbsp&nbsp <span>DRINK</span> &nbsp&nbsp&nbsp <span>VISIT</span></h1>
    <h3 class="cliph3">Class and Tradition Served Naturally</h3>
  </header>
</div>
</div>

<div id="mcontent">

  <div id="header-left">
    <h2 class="dh1">Welcome to Chef's.com</h2>
    <hr class="chr1">
    <hr class="chr2"><br>

    <h1>This is the Modern Recipe Blog Site in the World of Internet..!!!</h1><br>
    <p>We would like to take this opportunity to welcome you to our restaurant. We guarantee you the freshest food, delivered daily to our dock, prepared to your liking. We can prepare a specific meal by request. All our locations are providing a
      wonderful open-air venue to enjoy the meal all year round, we offer both indoor and alfresco dining and our focus is on serving.</p><br><br>
    <img class="sdi1" src="https://images.pexels.com/photos/2878708/pexels-photo-2878708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">

  </div>
  <div id="header-right">
    <img class="sdi2" src="https://images.pexels.com/photos/3490368/pexels-photo-3490368.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    <h3 class="rh3">Contacts</h3>
    <p class="rp">8500, Lorem Street, Chicago,<br>IL, 55030 <br>sales@yoursite.com <br>(123) 456-78-90</p>
  </div>
</div>



<div id="mcontent-1">

  <div id="header-left-1">
    <h2 class="dh1-1">our team</h2>
    <hr class="chr1-1">
    <hr class="chr2-1"><br>
    <h1>Meet our very best: one of the most recognized chefs..!!!</h1><br>
    <p>How did it all begin? With "Mamma", of course: the mother of all Giardino was opened in 1999 in Nuremberg. Since then, our recipe has proved to be a success: fresh Italian cuisine and a casual ambience.</p><br><br><br><br><br><br>
    <a class="la" href="#">View All Team</a>
    <hr class="lhr">
  </div>

  <div id="header-right-1">

    <div id="inner-header">

      <div id="inner-header-left">

        <img class="sdi3" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""><br><br>
        <img class="sdi4" src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">

      </div><br><br>

      <div id="inner-header-right">

        <a class="ina" href="#">Shubham Wankar</a>
        <p>Co-founder, Chef.</p>
        <p>Chef and owner Antonio Azuro graduated as valedictorian of The Restaurant School of Italian Food Collage, Napoli, Italy.</p>

        <div class="tops">
          <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        </div><br>

        <div class="sec">

          <a class="ina-1" href="#">Samiksha Bhalavi</a>
          <p>Co-founder, Chef.</p>
          <p>Chef and owner Antonio Azuro graduated as valedictorian of The Restaurant School of Italian Food Collage, Napoli, Italy.</p>

          <div class="tops">
            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>

{% endblock %}