{% extends 'testApp/base.html'%}
{% load static %}

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

      {% block title_block %} Share Post By Email {% endblock %}

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


      {% block home_block %}

      {% if sent %}

        <h1 class="mailh2">Email Send Successfully...!!!</h1>
        <h2 class="mailh3">"{{post.title}}" Information Shared By Email...!!!</h2>

        {% else %}

            <div class="mail">



            <h1 class="mailh1">Send "{{post.title}}" Post By Email</h1><br><br>

            <form method="POST">

              <table class="mailtable">
                <tr>
                  <td>{{form.as_table}}</td>
                </tr>
                {% csrf_token %}
              </table><br>

              <input id="mailbtn" type="submit" class="btn btn-info btn-lg" value="Send Mail">

            </form>

            </div>

      {% endif %}



      {% endblock %}



<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
